.runSim {
	color:#1fec30;
	text-decoration:none;
	font-family:Arial;
	font-size:19px;
	background-color:#313131;
	border:5px solid #05bb0e;
	padding:15px 36px;
	box-shadow: 4px 6px 0px 0px #00740f;
	cursor: progress;
	transition: padding 0.2s;
}
.runSim:hover {
	padding: 25px 300px;
	background-color:#1e7a1b;
	border:5px solid #00c00a;
	color:#ffffff;
}
.runSim:active {
	color:#000000;
	background-color:#58ff49;
	padding: 10px 400px;
}